$bp-mobile: 767px;

$color-white: #ffffff;
$color-blue-light: #d9e6ff;
$color-page-bg: #eaf2ff;

$color-brand-dark: #0033cc;
$color-brand: #0066f9;
$color-brand-light: #00aaff;

$color-text: #2f3441;
$color-text-secondary: #606981;
$color-divider: #b0c7ec;
$color-navy: #050036;
$color-text-muted: #494873;
$color-section-bg: #f5f9ff;

$gutter: 56px;
$container: 1808px;
$radius-section: 50px;

$gradient-brand: linear-gradient(221deg, #ffb724 0%, #e93ac5 58.7%, #8e59ff 100%);

$font-main: var(--font-main);
